@use 'reset.scss';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  //background-color: black;
}

#raster {
  width: 320px;
  height: 256px;
}